<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="src/dep.js"></script>
    <script src="src/watcher.js"></script>
    <script src="src/observer.js"></script>
    <script src="src/compiler.js"></script>
    <script src="src/index.js"></script>
</head>
<body>
    <div id="app">
        <h1>插值表达式</h1>
        <h3>{{ msg }}</h3>
        <h3>{{ count }}</h3>
        <h1>v-text</h1>
        <div v-text="msg"></div>
        <h1>v-model</h1>
        <input type="text" v-model="msg" />
        <input type="text" v-model="count" />
        <h1>v-html</h1>
        <div v-html="msg"></div>
        <h1>v-on</h1>
        <div v-on:click="handle">点击事件</div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                msg: 'Hello',
                count: 0,
                person: {
                    name: 'Foo',
                },
                handle: () => {
                  console.log(11);
                }
            }
        })
    </script>
</body>
</html>